:root {
  font: 40px / 1 sans-serif;
}

html {
  height: 100%;
  background: black;
}

body {
  margin: 5%;
  min-height: 100%;
  background: antiquewhite;
  border-radius: 1rem;
  color: blue;
  /* background-image: url('./Orthographic-Projection-678x322.png');
  background-position: center;
  background-repeat: no-repeat; */
}

h1 {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}
h2 {
  text-align: center;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  font-size: 50%;
  color: slateblue;
  margin: 0%;
}

input.radio {
  margin: 0;
}

.be-centered {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 0;
  justify-content: center;
  align-items: space-around;
}

input {
  margin: 0 1rem 0 0;
  min-width: 25%;
  align-content: space-around;
}

button {
  background: slategray;
  border-radius: 1rem;
  min-width: 25%;
  align-content: space-around;
}

.display {
  text-align: center;
  margin: 0;
  padding 1rem;
}
